<footer class="footer">

    <span class="footer__copyright">&copy; 2015-2016. | 加油<a href="http://yzmspirit.com/">yzmspirit</a> | 主题<a href="https://github.com/someus/huno">Huno</a></span>
    
</footer>